@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,500,700,800,900');

// Variables

$color-primario: #f8f8f8;


$bitter: 'Bitter', serif;
$alegreya: 'Alegreya Sans', sans-serif;